# Configuración del servidor
PORT=3000
HOST=127.0.0.1

# Configuración de base de datos
DATABASE_URL=sqlite://database/nebripop.db

# Frontend
FRONTEND_PORT=8081

# Otras configuraciones (No añadir secretos reales aquí)
